.footer{
    padding: 1rem 2rem 0 2rem;
    display: grid;
}




.footer.row > .enlaces1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

footer .row > .enlaces2{
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.part2 {
    padding-left: 1rem;
}

.footer .row > ul {
    list-style: none;
}

footer .copyright{
    display: flex;
    justify-content: center;
    margin-top : 1rem;
}

.copyright {
    align-items: center;
    text-align: center;
}